$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$blu: #0282F9;
$grey: #797979;
$dark-grey: #303030;
$dark-dc: #1C1C1C;
$lightblue: rgba(218, 233, 254);
$blacktext: rgba(63, 54, 59);
$bluetext: rgb(2, 130, 249);